html {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, orange 60%, cyan);
}
body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font-family: "Bangers", cursive;
}
.center {
  margin: auto;
  width: 30%;
  padding: 10px;
  text-align: center;
}
main > h1 {
  margin-top: 50%;
}
main > button {
  size: 100px;
}

div {
  line-height: 1.6;
  font-size: large;
}
.flex-container {
  width: 70%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
}
.square-item {
  border: 1px solid black;
  background: #ececec;
  float: left;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20px;
  flex: 1 1 10%;
}

.square-item-clicked {
background-color: #4CAF50;
}
.ship{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font: 14px "Century Gothic", Futura, sans-serif;
  border-radius: 5px;
}
.ship:hover {
  background-color: #3e8e41;
}
.hold-boards {
  display: flex;
}
h2 {
  margin: 20px;
}
.place-center {
  padding: 0px;
}
.shipsAvailable {
  width: 6%;
  float: left;
  padding: 0px;
  margin: 0px 0px 0px 20px;
}
.rotate-bttn{
  border-radius: 5px;
  margin-left: 50px;
}
