html {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, cyan 10%, orange);
}
body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font-family: "Bangers", cursive;
}
.center {
  margin: auto;
  width: 30%;
  padding: 10px;
  text-align: center;
}
main > h1 {
  margin-top: 50%;
}
main > button {
  size: 100px;
}
.heading-element{
font-size: 48px;
font-weight: 600;
}

.score{
  float: right;
  padding: 20px;
}

div {
  line-height: 1.6;
  font-size: large;
}
h2,h3 {
  margin: 0px 0px 0px 20px;
}
.view {
  display: flex;
}

.left-side , .right-side{
   margin: 0;
   flex: 0 0 40%;  
}
.middle-side{
  margin: 0;
  flex: 0 0 20%;
  text-align: center;
}
.ul{

}
.li{
  decoration: none;
}
.board-container {
   margin: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255); 
}

.square-item {
  border: 1px solid black;
  background: #ffffff;
  float: left;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20px;
  flex: 1 1 10%;
}

.ship-placed {
  background-color: rgb(22, 166, 166);
}

.shipsAvailable {
  display: flex;
  padding-left: 0;
 }

.ship {
  background-color: white;
  color: rgb(22, 166, 166);
  border: none;
  font-weight: bold;
  margin: 0 0px 0 20px;
  flex-wrap: wrap;
  flex: 0 0 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: "Bangers", cursive;
  border-radius: 5px;
}

.ship:hover {
  background-color: rgb(21, 180, 180);
  color: white;
}

.place-center {
  padding: 0px;
}

.ship-center {
  padding: 5%;
}
.rotate-bttn {
  border-radius: 50%;
  padding: 3%;
  margin-left: 40%;
  margin-top: 10px;
}
.top-bttn{
  border-radius: 50%;
  padding: 3%;
  margin-top: 10px;

}

.hit {
  background-color: rgb(111, 8, 8);
}
.miss {
  background-color: #313432;
}
.user-ship-hit {
  background-color: rgb(22, 166, 166);
  border-color: rgb(255, 213, 0);
  border-style: dashed;
  border-width: medium;
}


